<h1>My rental</h1>
<span>Cat name: <%= @cat_rental_request.cat.name %></span>
<br />
<span>Start date: <%= @cat_rental_request.start_date %></span>
<br />
<span>End date: <%= @cat_rental_request.end_date %></span>
<br />
<hr />
<h1>Other rentals</h1>
<br />
<% @cat_rental_requests.each do |request| %>
<span>Cat name: <%= request.cat.name %></span>
<br />

<span>Start date: <%= request.start_date %></span>
<br />
<span>End date: <%= request.end_date %></span>
<br />
<br />
<% end %>