<table>
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Birth Date</th>
		<th>Color</th>
		<th>Sex</th>
	</tr>
	<tr>
		<td><%=@cat.name %></td>
		<td><%=@cat.age %></td>
		<td><%=@cat.birth_date %></td>
		<td><%=@cat.color %></td>
		<td><%=@cat.sex %></td>
	</tr>
</table>